__pycache__/
.pytest_cache/
*.pyc

front/node_modules/
front/dist/
front/*.tsbuildinfo
front/vite.config.js
front/vite.config.d.ts
servidor_central/location_graph.json
*.db
servidor_central/smart_cart.db
